<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Dashboard for {{full_path}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{path_to_root}}_css/bootstrap.min.css?v={{version}}" rel="stylesheet" type="text/css">
  <link href="{{path_to_root}}_css/style.css?v={{version}}" rel="stylesheet" type="text/css">
  <link href="{{path_to_root}}_css/custom.css" rel="stylesheet" type="text/css">
 </head>
 <body>
  <header>
   <div class="container-fluid">
    <div class="row">
     <div class="col-md-12">
      <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
{{breadcrumbs}}
       </ol>
      </nav>
     </div>
    </div>
   </div>
  </header>
  <div class="container-fluid">
   <div class="row dashboard-row">
    <div class="col-md-6">
     <h3>Classes</h3>
     <p class="text-muted small">Bubble size = executable lines. Hover for details, click to navigate.</p>
     <div class="file-coverage-chart">
{{class_bubble_chart}}
     </div>
    </div>
    <div class="col-md-6 dashboard-column">
     <h3>&nbsp;</h3>
     <p class="text-muted small">Sorted by descending CRAP (Change Risk Anti-Patterns) index.</p>
     <div class="scrollbox">
{{class_crap_table}}
     </div>
    </div>
   </div>
   <div class="row dashboard-row">
    <div class="col-md-6">
     <h3>Methods</h3>
     <p class="text-muted small">Bubble size = executable lines. Hover for details, click to navigate.</p>
     <div class="file-coverage-chart">
{{method_bubble_chart}}
     </div>
    </div>
    <div class="col-md-6 dashboard-column">
     <h3>&nbsp;</h3>
     <p class="text-muted small">Sorted by descending CRAP (Change Risk Anti-Patterns) index.</p>
     <div class="scrollbox">
{{method_crap_table}}
     </div>
    </div>
   </div>
   <footer>
    <hr/>
    <p>
     <small>Generated by <a href="https://github.com/sebastianbergmann/php-code-coverage" target="_top">php-code-coverage {{version}}</a> using {{runtime}}{{generator}} at {{date}}.</small>
    </p>
   </footer>
  </div>
 </body>
</html>
