    <tr class="{{class}} d-flex"><td {{popover}} class="col-1 text-end"><a id="{{lineNumber}}" href="#{{lineNumber}}">{{lineNumber}}</a></td><td class="{{coverageCountClass}}">{{coverageCount}}</td><td class="col codeLine">{{lineContent}}</td></tr>
