      <tr data-coverage="{{coverage_data}}">
       <td class="{{lines_level}}">{{name}}</td>
       <td class="{{lines_level}} big" data-metric="lines-bar">{{lines_bar}}</td>
       <td class="{{lines_level}} small" data-metric="lines-percent"><div align="right">{{lines_executed_percent}}</div></td>
       <td class="{{lines_level}} small" data-metric="lines-number"><div align="right">{{lines_number}}</div></td>
       <td class="{{branches_level}} big">{{branches_bar}}</td>
       <td class="{{branches_level}} small"><div align="right">{{branches_executed_percent}}</div></td>
       <td class="{{branches_level}} small"><div align="right">{{branches_number}}</div></td>
       <td class="{{methods_level}} big" data-metric="methods-bar">{{methods_bar}}</td>
       <td class="{{methods_level}} small" data-metric="methods-percent"><div align="right">{{methods_tested_percent}}</div></td>
       <td class="{{methods_level}} small" data-metric="methods-number"><div align="right">{{methods_number}}</div></td>
       <td class="{{methods_level}} small">{{crap}}</td>
       <td class="{{methods_level}}" colspan="3"></td>
      </tr>

