/.gitattributes export-ignore
/.gitignore     export-ignore
/.github        export-ignore
/.phive         export-ignore
/.php_cs.dist   export-ignore
/.psalm         export-ignore
/build.xml      export-ignore
/phpunit.xml    export-ignore
/tests          export-ignore
/tools          export-ignore
/tools/*        binary

*.php diff=php
