<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Code Coverage for {{full_path}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{path_to_root}}css/bootstrap.min.css" rel="stylesheet">
  <link href="{{path_to_root}}css/style.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="{{path_to_root}}js/html5shiv.min.js"></script>
  <script src="{{path_to_root}}js/respond.min.js"></script>
  <![endif]-->
 </head>
 <body>
  <header>
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <ol class="breadcrumb">
{{breadcrumbs}}
      </ol>
     </div>
    </div>
   </div>
  </header>
  <div class="container" id="container_table">
   <table class="table table-bordered">
    <thead>
     <tr>
      <td>&nbsp;</td>
      <td colspan="9"><div align="center"><strong>Code Coverage</strong></div></td>
     </tr>
     <tr>
      <td><strong class="sort pointer" data-sort="name">Name</strong></td>
      <td colspan="3"><div align="center"><strong class="sort pointer" data-sort="lines_executed_percent">Lines</strong></div></td>
      <td colspan="3"><div align="center"><strong class="sort pointer" data-sort="methods_tested_percent">Functions and Methods</strong></div></td>
      <td colspan="3"><div align="center"><strong class="sort pointer" data-sort="classes_tested_percent">Classes and Traits</strong></div></td>
     </tr>
    </thead>
    <tbody class="list">
{{items}}
    </tbody>
   </table>
   <footer>
    <hr/>
    <h4>Legend</h4>
    <p>
     <span class="danger"><strong>Low</strong>: 0% to {{low_upper_bound}}%</span>
     <span class="warning"><strong>Medium</strong>: {{low_upper_bound}}% to {{high_lower_bound}}%</span>
     <span class="success"><strong>High</strong>: {{high_lower_bound}}% to 100%</span>
    </p>
    <p>
     <small>Generated by <a href="http://github.com/sebastianbergmann/php-code-coverage" target="_top">PHP_CodeCoverage {{version}}</a> using <a href="{{runtime_link}}" target="_top">{{runtime_name}} {{runtime_version}}</a>{{generator}} at {{date}}.</small>
    </p>
   </footer>
  </div>
  <script src="{{path_to_root}}js/jquery.min.js" type="text/javascript"></script>
  <script src="{{path_to_root}}js/bootstrap.min.js" type="text/javascript"></script>
  <script src="{{path_to_root}}js/holder.min.js" type="text/javascript"></script>
  <script src="{{path_to_root}}js/list.min.js" type="text/javascript"></script>
  <script type="text/javascript">
        var options = {
          valueNames: [
            'name',
            'lines_executed_percent',
            'methods_tested_percent',
            'classes_tested_percent'
            ]
        };

        // Remove sort on first line (the summary)
        $('#container_table tbody tr:first td').removeClass(options.valueNames.join(' '));

        new List('container_table', options);
  </script>
 </body>
</html>
