body {
 padding-top: 10px;
}

.popover {
 max-width: none;
}

.glyphicon {
 margin-right:.25em;
}

.table-bordered>thead>tr>td {
 border-bottom-width: 1px;
}

.table tbody>tr>td, .table thead>tr>td {
 padding-top: 3px;
 padding-bottom: 3px;
}

.table-condensed tbody>tr>td {
 padding-top: 0;
 padding-bottom: 0;
}

.table .progress {
 margin-bottom: inherit;
}

.table-borderless th, .table-borderless td {
 border: 0 !important;
}

.table tbody tr.covered-by-large-tests, li.covered-by-large-tests, tr.success, td.success, li.success, span.success {
 background-color: #dff0d8;
}

.table tbody tr.covered-by-medium-tests, li.covered-by-medium-tests {
 background-color: #c3e3b5;
}

.table tbody tr.covered-by-small-tests, li.covered-by-small-tests {
 background-color: #99cb84;
}

.table tbody tr.danger, .table tbody td.danger, li.danger, span.danger {
 background-color: #f2dede;
}

.table tbody td.warning, li.warning, span.warning {
 background-color: #fcf8e3;
}

.table tbody td.info {
 background-color: #d9edf7;
}

td.big {
 width: 117px;
}

td.small {
}

td.codeLine {
 font-family: monospace;
 white-space: pre;
}

td span.comment {
 color: #888a85;
}

td span.default {
 color: #2e3436;
}

td span.html {
 color: #888a85;
}

td span.keyword {
 color: #2e3436;
 font-weight: bold;
}

pre span.string {
 color: #2e3436;
}

span.success, span.warning, span.danger {
 margin-right: 2px;
 padding-left: 10px;
 padding-right: 10px;
 text-align: center;
}

#classCoverageDistribution, #classComplexity {
 height: 200px;
 width: 475px;
}

#toplink {
 position: fixed;
 left: 5px;
 bottom: 5px;
 outline: 0;
}

svg text {
 font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #666;
 fill: #666;
}

.scrollbox {
 height:245px;
 overflow-x:hidden;
 overflow-y:scroll;
}

.progress-bar-percent-0 {
 width: 0%;
}

.progress-bar-percent-1 {
 width: 1%;
}

.progress-bar-percent-2 {
 width: 2%;
}

.progress-bar-percent-3 {
 width: 3%;
}

.progress-bar-percent-4 {
 width: 4%;
}

.progress-bar-percent-5 {
 width: 5%;
}

.progress-bar-percent-6 {
 width: 6%;
}

.progress-bar-percent-7 {
 width: 7%;
}

.progress-bar-percent-8 {
 width: 8%;
}

.progress-bar-percent-9 {
 width: 9%;
}

.progress-bar-percent-10 {
 width: 10%;
}

.progress-bar-percent-11 {
 width: 11%;
}

.progress-bar-percent-12 {
 width: 12%;
}

.progress-bar-percent-13 {
 width: 13%;
}

.progress-bar-percent-14 {
 width: 14%;
}

.progress-bar-percent-15 {
 width: 15%;
}

.progress-bar-percent-16 {
 width: 16%;
}

.progress-bar-percent-17 {
 width: 17%;
}

.progress-bar-percent-18 {
 width: 18%;
}

.progress-bar-percent-19 {
 width: 19%;
}

.progress-bar-percent-20 {
 width: 20%;
}

.progress-bar-percent-21 {
 width: 21%;
}

.progress-bar-percent-22 {
 width: 22%;
}

.progress-bar-percent-23 {
 width: 23%;
}

.progress-bar-percent-24 {
 width: 24%;
}

.progress-bar-percent-25 {
 width: 25%;
}

.progress-bar-percent-26 {
 width: 26%;
}

.progress-bar-percent-27 {
 width: 27%;
}

.progress-bar-percent-28 {
 width: 28%;
}

.progress-bar-percent-29 {
 width: 29%;
}

.progress-bar-percent-30 {
 width: 30%;
}

.progress-bar-percent-31 {
 width: 31%;
}

.progress-bar-percent-32 {
 width: 32%;
}

.progress-bar-percent-33 {
 width: 33%;
}

.progress-bar-percent-34 {
 width: 34%;
}

.progress-bar-percent-35 {
 width: 35%;
}

.progress-bar-percent-36 {
 width: 36%;
}

.progress-bar-percent-37 {
 width: 37%;
}

.progress-bar-percent-38 {
 width: 38%;
}

.progress-bar-percent-39 {
 width: 39%;
}

.progress-bar-percent-40 {
 width: 40%;
}

.progress-bar-percent-41 {
 width: 41%;
}

.progress-bar-percent-42 {
 width: 42%;
}

.progress-bar-percent-43 {
 width: 43%;
}

.progress-bar-percent-44 {
 width: 44%;
}

.progress-bar-percent-45 {
 width: 45%;
}

.progress-bar-percent-46 {
 width: 46%;
}

.progress-bar-percent-47 {
 width: 47%;
}

.progress-bar-percent-48 {
 width: 48%;
}

.progress-bar-percent-49 {
 width: 49%;
}

.progress-bar-percent-50 {
 width: 50%;
}

.progress-bar-percent-51 {
 width: 51%;
}

.progress-bar-percent-52 {
 width: 52%;
}

.progress-bar-percent-53 {
 width: 53%;
}

.progress-bar-percent-54 {
 width: 54%;
}

.progress-bar-percent-55 {
 width: 55%;
}

.progress-bar-percent-56 {
 width: 56%;
}

.progress-bar-percent-57 {
 width: 57%;
}

.progress-bar-percent-58 {
 width: 58%;
}

.progress-bar-percent-59 {
 width: 59%;
}

.progress-bar-percent-60 {
 width: 60%;
}

.progress-bar-percent-61 {
 width: 61%;
}

.progress-bar-percent-62 {
 width: 62%;
}

.progress-bar-percent-63 {
 width: 63%;
}

.progress-bar-percent-64 {
 width: 64%;
}

.progress-bar-percent-65 {
 width: 65%;
}

.progress-bar-percent-66 {
 width: 66%;
}

.progress-bar-percent-67 {
 width: 67%;
}

.progress-bar-percent-68 {
 width: 68%;
}

.progress-bar-percent-69 {
 width: 69%;
}

.progress-bar-percent-70 {
 width: 70%;
}

.progress-bar-percent-71 {
 width: 71%;
}

.progress-bar-percent-72 {
 width: 72%;
}

.progress-bar-percent-73 {
 width: 73%;
}

.progress-bar-percent-74 {
 width: 74%;
}

.progress-bar-percent-75 {
 width: 75%;
}

.progress-bar-percent-76 {
 width: 76%;
}

.progress-bar-percent-77 {
 width: 77%;
}

.progress-bar-percent-78 {
 width: 78%;
}

.progress-bar-percent-79 {
 width: 79%;
}

.progress-bar-percent-80 {
 width: 80%;
}

.progress-bar-percent-81 {
 width: 81%;
}

.progress-bar-percent-82 {
 width: 82%;
}

.progress-bar-percent-83 {
 width: 83%;
}

.progress-bar-percent-84 {
 width: 84%;
}

.progress-bar-percent-85 {
 width: 85%;
}

.progress-bar-percent-86 {
 width: 86%;
}

.progress-bar-percent-87 {
 width: 87%;
}

.progress-bar-percent-88 {
 width: 88%;
}

.progress-bar-percent-89 {
 width: 89%;
}

.progress-bar-percent-90 {
 width: 90%;
}

.progress-bar-percent-91 {
 width: 91%;
}

.progress-bar-percent-92 {
 width: 92%;
}

.progress-bar-percent-93 {
 width: 93%;
}

.progress-bar-percent-94 {
 width: 94%;
}

.progress-bar-percent-95 {
 width: 95%;
}

.progress-bar-percent-96 {
 width: 96%;
}

.progress-bar-percent-97 {
 width: 97%;
}

.progress-bar-percent-98 {
 width: 98%;
}

.progress-bar-percent-99 {
 width: 99%;
}

.progress-bar-percent-100 {
 width: 100%;
}
