body {
 font-family: sans-serif;
 font-size: 1em;
 font-kerning: normal;
 font-variant-ligatures: common-ligatures;
 text-rendering: optimizeLegibility;
 padding-top: 10px;
}

.popover {
 max-width: none;
}

.octicon {
 margin-right:.25em;
 vertical-align: baseline;
 width: 0.75em;
}

.table-bordered>thead>tr>td {
 border-bottom-width: 1px;
}

.table tbody>tr>td, .table thead>tr>td {
 padding-top: 3px;
 padding-bottom: 3px;
}

.table-condensed tbody>tr>td {
 padding-top: 0;
 padding-bottom: 0;
}

.table .progress {
 margin-bottom: inherit;
}

.table-borderless th, .table-borderless td {
 border: 0 !important;
}

.table tbody tr.covered-by-large-tests td, li.covered-by-large-tests, tr.success, td.success, li.success, span.success {
 /* background-color: {{success-low}}; */
 /* background-color: var(--bs-success-border-subtle); */
 background-color: rgb(from var(--bs-success) r g b / 0.25);
}

.table tbody tr.covered-by-medium-tests td, li.covered-by-medium-tests {
 /* background-color: {{success-medium}}; */
 /* background-color: var(--bs-success-bg-subtle); */
 background-color: rgb(from var(--bs-success) r g b / 0.5);
}

.table tbody tr.covered-by-small-tests td, li.covered-by-small-tests {
 /* background-color: {{success-high}}; */
 /* background-color: var(--bs-success-bg-subtle); */
 background-color: rgb(from var(--bs-success) r g b / 0.75);
}

.table tbody tr.warning td, .table tbody td.warning, li.warning, span.warning {
 /* background-color: {{warning}}; */
 /* background-color: var(--bs-warning-bg-subtle); */
 background-color: rgb(from var(--bs-warning) r g b / 0.25);
}

.table tbody tr.danger td, .table tbody td.danger, li.danger, span.danger {
 /* background-color: {{danger}}; */
 /* background-color: var(--bs-danger-bg-subtle); */
 background-color: rgb(from var(--bs-danger) r g b / 0.25);
}

.table tbody td.info {
 /* background-color: #d9edf7; */
 /* background-color: var(--bs-info-bg-subtle); */
 background-color: rgb(from var(--bs-info) r g b / 0.25);
}

td.big {
 vertical-align: middle;
 width: 117px;
}

td.small {
}

td.codeLine {
 /* font-family: "Source Code Pro", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
 font-family: "Source Code Pro", var(--bs-font-monospace);
 white-space: pre-wrap;
}

td span.comment {
 /* color: #888a85; */
 color: var(--bs-secondary-color);
}

td span.default {
 /* color: #2e3436; */
 color: var(--bs-body-color);
}

td span.html {
 /* color: #888a85; */
 color: var(--bs-secondary-color);
}

td span.keyword {
 /* color: #2e3436; */
 color: var(--bs-body-color);
 font-weight: bold;
}

pre span.string {
 /* color: #2e3436; */
 color: var(--bs-body-color);
}

span.success, span.warning, span.danger {
 margin-right: 2px;
 padding-left: 10px;
 padding-right: 10px;
 text-align: center;
}

#toplink {
 position: fixed;
 left: 5px;
 bottom: 5px;
 outline: 0;
}

svg text {
 /* font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; */
 font-family: var(--bs-font-sans-serif);
 font-size: 11px;
 /* color: #666; */
 color: var(--bs-gray);
 /* fill: #666; */
 fill: var(--bs-gray);
}

.scrollbox {
 height:245px;
 overflow-x:scroll;
 overflow-y:scroll;
}

table + .structure-heading {
 /* border-top: 1px solid lightgrey; */
 border-top: 1px solid var(--bs-gray-200);
 padding-top: 0.5em;
}

.legend {
 font-weight: bold;
 margin-right: 2px;
 padding-left: 10px;
 padding-right: 10px;
 text-align: center;
}

.covered-by-small-tests, tr.covered-by-small-tests td {
 /* background-color: {{success-high}}; */
 /* background-color: var(--bs-success-bg-subtle); */
 background-color: rgb(from var(--bs-success) r g b / 0.75);
}

.covered-by-medium-tests, tr.covered-by-medium-tests td {
 /* background-color: {{success-medium}}; */
 /* background-color: var(--bs-success-bg-subtle); */
 background-color: rgb(from var(--bs-success) r g b / 0.5);
}

.covered-by-large-tests, tr.covered-by-large-tests td {
 /* background-color: {{success-low}}; */
 /* background-color: var(--bs-success-border-subtle); */
 background-color: rgb(from var(--bs-success) r g b / 0.25);
}

.not-covered, tr.not-covered td {
 /* background-color: {{danger}}; */
 /* background-color: var(--bs-danger-bg-subtle); */
 background-color: rgb(from var(--bs-danger) r g b / 0.25);
}

.not-coverable, tr.not-coverable td {
 /* background-color: {{warning}}; */
 /* background-color: var(--bs-warning-bg-subtle); */
 background-color: rgb(from var(--bs-warning) r g b / 0.25);
}
