/*NAVIGATION
-------------------------------------------------------- */
#nav span{
	float:right;
	margin-top:-2.4em;
}
/*GRIDS
-------------------------------------------------------- */
/* Set styles common among all grids */
.generic{
	border-top:5px solid #666;
	float:left;
	padding-top:1em;
	margin-bottom:2em;
}
/* Sets styles for any 'end' grids */
.end{
	margin-left:0 !important;
	margin-right:0 !important;
}
/* 220px */
.twotwenty{
	width:22em;
	margin-right:2em;
}
/* 340px */
.threeforty{
	width:34em;
	margin-right:1.96em;
}
/* 460px */
.foursixty{
	width:46em;
	margin-right:2em;
}
/* 940px */
.nineforty{
	width:94em;
}
/*PARAGRAPHS
-------------------------------------------------------- */
.generic p{
	font-size:1.2em;
	line-height:1.5em;
	margin-bottom:1.5em;
}
/* Styles an introductory paragraph, similar to newspapers. Assign this class to the first paragraph in an article */
p.intro:first-line{
	font-variant:small-caps;
}
/* Styles a drop cap on each paragraph with this class - it has to be made into a block in IE, because IE sucks */
p.drop:first-letter{
	float:left;
	font-size:3em;
	padding:0.5em;
	color:#fff;
	background:#666;
}
/*CONTACT FORM STYLES
-------------------------------------------------------- */
#contact-form{
}
#contact-form label{
	width:10em;
	float:left;
	margin-top:0.6em;
}
#name, #form-email, #url, #location{
	width:42.4em;
	height:20px;
	padding:3px;
	padding-top:5px;
	border:2px solid #666;
	background:url(images/footer-form-bg.gif) top left repeat-x #fff !important;
	margin-bottom:18px;
}
#comments{
	width:42.4em;
	height:10em;
	padding:3px;
	border:2px solid #666;
	background:url(images/footer-form-bg.gif) top left repeat-x #fff !important;
	margin-bottom:18px;
}
#name:active, #form-email:active, #url:active, #location:active, #comments:active, #submit:active, #name:focus, #form-email:focus, #url:focus, #location:focus, #comments:focus, #submit:focus{
	border:2px solid #666;
}
#submit{
	clear:both;
	padding:5px;
	border:2px solid #666;
	background:url(images/footer-form-bg.gif) top left repeat-x #fff !important;
	cursor:pointer;
	margin-left:9em;
}
#reset{
	clear:both;
	padding:3px;
	border:none;
	background:#f00 !important;
	cursor:pointer;
	float:right;
	color:#fff;
	margin-top:-28px;
}
/*-------------------------------------------+
|                                            |
|                LIST STYLES                 |
|                                            |
+-------------------------------------------*/
ul{
	margin-bottom:1.8em;
	list-style:square inside;
}
ul li{
	font-size:1.2em;
	line-height:1.5em;
}
ul li.caption{ /* Apply this class to the first list item in a list to give it a caption */
	font-variant:small-caps;
	list-style:none;
	color:#000;
	text-indent:-1.5em;
}
ol{
	margin-bottom:1.8em;
	list-style:decimal inside;
}
ol li{
	font-size:1.2em;
	line-height:1.5em;
}